{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Student {% endblock %}
{% block content %}
<h4>Add new student</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'student.index' %}">Student</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add new student</li>
  </ol>
</nav>
<form action="#" method="post" enctype='multipart/form-data'>
  <div class='row'>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">Student Name</label>
      <input type="text" class="form-control" name='name' placeholder="full name" required>
    </div>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">Gender</label>
      <select class='form-control' name='gender' required>
        <option value=''> - select gender - </option>
        <option value='male'>Male</option>
        <option value='female'>Female</option>
      </select>
    </div>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">Academic Level</label>
      <select class='form-control' name='level' required>
        <option value=''> - select academic level - </option>
        <option value='primary'>Primary</option>
        <option value='secondary'>Secondary</option>
      </select>
    </div>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">Siblings</label>
      <input type="text" class="form-control" name="siblings" placeholder='brother, sister' />
    </div>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">Mother</label>
      <input type="text" class="form-control" name="mother" placeholder='mama' />
    </div>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">Father</label>
      <input type="text" class="form-control" name="father" placeholder='papa' />
    </div>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">Address</label>
      <input type="text" class="form-control" name="address" placeholder='province, district, sector' required />
    </div>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">Phone</label>
      <input type="text" class="form-control" name="phone" placeholder='078929390' required />
    </div>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">Date of Birth</label>
      <input type="date" class="form-control" name="dob" required />
    </div>
    <div class="col-md-3 mb-2">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" name='image' accept='image/*' />
    </div>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">School</label>
      <select class='form-control' name='school' required>
        <option value=''> - select school - </option>
        {% for school in schools %}
        <option value='{{ school.id }}'>{{ school.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-3 mb-2">
      <label for="name" class="form-label">Sponsor</label>
      <select class='form-control' name='sponsor' required>
        <option value=''> - select sponsor - </option>
        {% for sponsor in sponsors %}
        <option value='{{ sponsor.id }}'>{{ sponsor.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="mb-2">
    <label for="content" class="form-label">Details</label>
    <textarea class='form-control' name='details' rows='5' placeholder="Student additional information"></textarea>
  </div>
  {% csrf_token %}
  <div class='d-flex justify-content-between'>
    <button class="btn btn-primary" type="submit">Continue</button>
    <a class="btn btn-link" href="{% url 'student.index' %}">All student</a>
  </div>
</form>
{% endblock %}