{% extends 'layouts/base.html' %} 
{% load static %}
{% block title %} {{ student.name }} {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 my-auto">
    <h4 class="fw-bold my-4">Student Information</h4>
    <table class='table table-bordered'>
        <tbody>
            <tr>
                <td>Student Name</td>
                <td>{{ student.name }}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{ student.gender }}</td>
            </tr>
            <tr>
                <td>Academic Level</td>
                <td>{{ student.academic_level }}</td>
            </tr>
            <tr>
                <td>Relatives</td>
                <td>{{ student.father }}, {{ student.mother }}, {{ student.siblings }}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{ student.phone }}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ student.address }}</td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td>{{ student.dob }}</td>
            </tr>
            <tr>
                <td>School</td>
                <td>{{ student.school.name }}</td>
            </tr>
            <tr>
                <td>Sponsor</td>
                <td>{{ student.sponsor.name }}</td>
            </tr>
            <tr>
                <td>Details</td>
                <td>{{ student.details|safe }}</td>
            </tr>
        </tbody>
    </table>
    {% if grades.count %}
    <h4 class="fw-bold my-4">Grades</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Student</th>
                <th scope="col">School</th>
                <th scope="col">Marks</th>
                <th scope="col">Semester</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for grade in grades %}
            <tr>
                <td>{{grade.student.name}}</td>
                <td>{{grade.school.name}}</td>
                <td>{{grade.marks}}</td>
                <td>{{grade.semester}} ({{grade.year}})</td>
                <td>{{grade.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
  </div>
  {% if student.image %}
  <div class="col-md-4">
    <img
      src="/media/{{ student.image }}"
      class="w-100"
      alt="children"
    />
  </div>
  {% endif %}
</div>
{% endblock %}