{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Visit {% endblock %}
{% block content %}
<h4>All Visits</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'visit.index' %}">Visit</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Visits</li>
  </ol>
</nav>
<a href="{% url 'visit.create' %}" class="btn btn-primary float-end">Add new visit</a>
{% include 'partials/messages.html' %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Student</th>
      <th scope="col">School</th>
      <th scope="col">Marks</th>
      <th scope="col">Semester</th>
      <th scope="col">Description</th>
      <th scope="col">Time</th> 
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for grade in page_object %}
    <tr>
      <td>{{grade.student.name}}</td>
      <td>{{grade.school.name}}</td>
      <td>{{grade.marks}}</td>
      <td>{{grade.semester}} ({{grade.year}})</td>
      <td>{{grade.description}}</td>
      <td>{{grade.created_at}}</td>
      <td>
        {% if grade.user_id == user.id %}
        <a href='#' class='btn btn-success'>Details</a>
        <a href="{% url 'grade.edit' id=grade.id %}" class="btn btn-info">Edit</a>
        <a href="{% url 'grade.delete' id=grade.id %}" class="btn btn-warning">Delete</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="pagination">
  <ul class="pagination justify-content-center">
    {% if page_object.has_previous %}
    <li class="page-item"><a class="page-link" href='?page={{ page_object.previous_page_number }}'><i class='bi bi-chevron-left'></i></a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ page_object.number }} / {{ page_object.paginator.num_pages }}</a></li>
    {% if page_object.has_next %}
    <li class="page-item"><a class="page-link" href='?page={{ page_object.next_page_number }}'><i class='bi bi-chevron-right'></i></a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
