{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Grade {% endblock %}
{% block content %}
<h4>Add new grade</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'grade.index' %}">Grade</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add new grade</li>
  </ol>
</nav>
<form action="#" method="post" enctype='multipart/form-data'>
  <div class='row'>
    <div class="col-md-4 mb-2">
      <label for="name" class="form-label">Student</label>
      <select class='form-control' name='student'>
        <option value=''> - select student - </option>
        {% for student in students %}
        <option value='{{ student.id }}'>{{ student.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4 mb-2">
      <label for="name" class="form-label">School</label>
      <select class='form-control' name='school'>
        <option value=''> - select school - </option>
        {% for school in schools %}
        <option value='{{ school.id }}'>{{ school.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4 mb-2">
      <label for="marks" class="form-label">Marks</label>
      <input type="number" class="form-control" name='marks' placeholder="100">
    </div>
    <div class="col-md-4 mb-2">
      <label for="semester" class="form-label">Semester</label>
      <select class='form-control' name='semester'>
        <option value=''> - select semester - </option>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
      </select>
    </div>
    <div class="col-md-4 mb-2">
      <label for="year" class="form-label">Year</label>
      <input type="number" class="form-control" name='year' value="2022">
    </div>
  </div>
  <div class="mb-2">
    <label for="content" class="form-label">Description</label>
    <textarea class='form-control' name='description' rows='5' placeholder="Additional information"></textarea>
  </div>
  {% csrf_token %}
  <div class='d-flex justify-content-between'>
    <button class="btn btn-primary" type="submit">Continue</button>
    <a class="btn btn-link" href="{% url 'grade.index' %}">All grades</a>
  </div>
</form>
{% endblock %}